<html>
        <head>
          <script type="text/javascript" src="lib/jquery.js"></script>
          <script type="text/javascript" src="lib/jsl.parser.js"></script>
          <script type="text/javascript" src="lib/json2.js"></script>
          <script type="text/javascript" src="lib/dataformate.js"></script>
          <script type="text/javascript">
            $.ajaxSetup({cache:false});
            function login(){
                var form=$("#login_form");
                if(form.is(":hidden")){
                    form.show();
                }else{
                    form.hide();
                }
            }
            function delete_path(){
                var path=$('#delete_form').find("input[name='path']").val();
                var lastPartIndex=path.lastIndexOf("/");
                var parenPath=path.substring(0,lastPartIndex);

                if(confirm("Are you sure want to delete "+path+"?")){
                    $.post("/node-zk/delete",$('#delete_form').serialize(),function(rt){
                        alert(rt);
                        if(rt=='Delete ok'){
                           $(parent.document.body).find('#tree').attr('src', "/node-zk/tree?path="+parenPath);
                           window.location.href="/node-zk/get?path="+parenPath;
                        }
                    });
                }
            }
            function show_detail(){
                var detail_info=$("#node_detail")
                if(detail_info.is(":hidden")){
                    detail_info.show();
                    $("#show_detail").text('hide');
                }else{
                    detail_info.hide();
                    $("#show_detail").text('show detail');
                }
            }

            var old_value = '';
            var temp_value = '';
            function checkData(){
                 var nodeValue=$.trim($("#new_data").val());
                 if(nodeValue != undefined && nodeValue != '' && nodeValue != null && nodeValue != 'null'){
                     var check_value = JSONDATA.formatJsonData(nodeValue);
                     if (check_value != '') {
                        $('#new_data').val(check_value);
                     } else {
                        return false;
                     }
                 }
                 return true;
            }
            window.onload=function(){
                // old value
                var old_value=$.trim($("#data").val());
                // initial data to json formate
                if(old_value != undefined && old_value != '' && old_value != null && old_value != 'null'){
                    temp_value = JSONDATA.formatJsonData(old_value);
                    if (temp_value != '') {
                       $('#new_data').val(temp_value);
                    } else {
                       $('#new_data').val(old_value);
                    }
                }
                // bind click event
                $("#check_data").click(function(e){
                    var check_result = checkData();
                    if(check_result){
                        // 
                    }
                    $("#new_data").focus();
                });
                $("#save_data").click(function(e){
                    
                    var check_result = checkData();
                    if( !check_result ){
                        $("#new_data").focus();
                        return false;
                    }
                    temp_value = $.trim($("#new_data").val());
                    var compress_data = '';
                    if(temp_value!=undefined && temp_value!='' && temp_value!=null && temp_value!="null"){
                        compress_data = JSONDATA.compressJsonData(temp_value);
                    }

                    // compare compressed value
                    if(compress_data != old_value){

                          $('#new_data').val(compress_data);
                          $.post("/node-zk/edit",$("#edit_form").serialize(),function(data){
                               alert(data);
                               window.location.href="/node-zk/get?path=<%= path %>";
                          });
                    }
                    return false;
                });
            } 
            
          </script>
          <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
          <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
          <link rel='stylesheet', href='stylesheets/style.css'/>
        <head>
        <body>
          <div class= "container">
                <div id='login'>
                  <% if(user) { %>
                    <h3>Welcome,<%= user %> </h3>
                  <% }else{ %>
                      <a href='#' onclick='login();' class="btnStyle">Login</a>
                      <div id='login_form' style='display:none;'>
                         <form method="post" action="/node-zk/login">
                           <label>Username</label>
                           <input type="text" name="user[name]" />
                           <label>Password</label>
                           <input type="password" name="user[password]" />
                           <input type="submit" value="Submit" />
                         </form>
                      </div>
                  <% } %>
                </div>
                <table class= "table table-bordered">
                   <tr>
                     <td><label style="font-weight:bold;">Path:</label></td>
                     <td><span style="font-weight:bold;"><%= path %></span>
                        <% if(user){ %>
                            <a href='#' onclick="delete_path();" class="btnStyle">delete</a><a href="/node-zk/add?path=<%= path %>" target="content" class="btnStyle">create</a>
                            <form id='delete_form' onsubmit="return;">
                            <input type='hidden' name='path' value='<%= path %>'/>
                            <input type='hidden' name='version' value='<%= stat.version %>'/>
                            </form>
                        <% } %>
                     </td>
                   </tr>
                   <tr>
                     <td><label>Node Stat:</label></td>
                     <td><a href='#' id='show_detail' onclick="show_detail();" class="btnStyle">show detail</a></td>
                   </tr>
                </table>
                <table class= "table table-bordered" id='node_detail' style='display:none;'>
                   <tr>
                     <td>name</td>
                     <td>value</td>
                   </tr>
                   <% for(var p in stat){ %>
                   <tr>
                     <td><%= p %></td>
                     <td><%= stat[p] %> </td>
                   </tr>
                   <%} %>
                </table>
                <hr/>
                <label>Data (JSON format): </label>
                <input type='hidden' value='<%= data %>' id='data' />
                <div id='data_container' >
                
                    <form id='edit_form'>
                        <input type='hidden' name='path' value='<%= path %>'/>
                        <input type='hidden' name='version' value='<%= stat.version %>'/>
                        <table>
                  <% if(user){ %>
                        <tr><td colspan='1'><textarea cols='90' rows='15' name='new_data' id='new_data' style="width:650px;"
                            spellcheck="false" placeholder="NO DATA OR EMPTY VALUE. can enter JSON format data."></textarea></td></tr>
                        <tr>
                            <td colspan="1"><input type='button' id='check_data' value="Check data" class="btnStyle"/><input type='submit' value='Save' id='save_data' class="btnStyle" style="margin-left:20px;"/></td>
                        </tr>
                  <% }else{ %>
                        <tr><td colspan='1'><textarea cols='90' rows='15' name='new_data' id='new_data' style="width:650px;" readonly='readonly'
                            spellcheck="false" placeholder="NO DATA OR EMPTY VALUE"></textarea></td></tr>
                  <% } %>
                        </table>
                    </form>

                </div>
            </div>
        </body>
</html>
